<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="author" content="Nome Cognome" />
	<title>FFS Logo loop Versione 2</title>
	<style type="text/css">
		html {
			height: 100%;
		}

		body {
			background-color: rgb(235, 235, 235);
			margin: 3em 2em;
		}
	</style>

</head>

<body>

	<img />

	<script type="module">

		const sequenza = [
"img/FFS_Versione_2/FFS_logo_V2_000.png",
"img/FFS_Versione_2/FFS_logo_V2_001.png",
"img/FFS_Versione_2/FFS_logo_V2_002.png",
"img/FFS_Versione_2/FFS_logo_V2_003.png",
"img/FFS_Versione_2/FFS_logo_V2_004.png",
"img/FFS_Versione_2/FFS_logo_V2_005.png",
"img/FFS_Versione_2/FFS_logo_V2_006.png",
"img/FFS_Versione_2/FFS_logo_V2_007.png",
"img/FFS_Versione_2/FFS_logo_V2_008.png",
"img/FFS_Versione_2/FFS_logo_V2_009.png",
"img/FFS_Versione_2/FFS_logo_V2_010.png",
"img/FFS_Versione_2/FFS_logo_V2_011.png",
"img/FFS_Versione_2/FFS_logo_V2_012.png",
"img/FFS_Versione_2/FFS_logo_V2_013.png",
"img/FFS_Versione_2/FFS_logo_V2_014.png",
"img/FFS_Versione_2/FFS_logo_V2_015.png",
"img/FFS_Versione_2/FFS_logo_V2_016.png",
"img/FFS_Versione_2/FFS_logo_V2_017.png",
"img/FFS_Versione_2/FFS_logo_V2_018.png",
"img/FFS_Versione_2/FFS_logo_V2_019.png",
"img/FFS_Versione_2/FFS_logo_V2_020.png",
"img/FFS_Versione_2/FFS_logo_V2_021.png",
"img/FFS_Versione_2/FFS_logo_V2_022.png",
"img/FFS_Versione_2/FFS_logo_V2_023.png",
"img/FFS_Versione_2/FFS_logo_V2_024.png",
"img/FFS_Versione_2/FFS_logo_V2_025.png",
"img/FFS_Versione_2/FFS_logo_V2_026.png",
"img/FFS_Versione_2/FFS_logo_V2_027.png",
"img/FFS_Versione_2/FFS_logo_V2_028.png",
"img/FFS_Versione_2/FFS_logo_V2_029.png",
"img/FFS_Versione_2/FFS_logo_V2_030.png",
"img/FFS_Versione_2/FFS_logo_V2_031.png",
"img/FFS_Versione_2/FFS_logo_V2_032.png",
"img/FFS_Versione_2/FFS_logo_V2_033.png",
"img/FFS_Versione_2/FFS_logo_V2_034.png",
"img/FFS_Versione_2/FFS_logo_V2_035.png",
"img/FFS_Versione_2/FFS_logo_V2_036.png",
"img/FFS_Versione_2/FFS_logo_V2_037.png",
"img/FFS_Versione_2/FFS_logo_V2_038.png",
"img/FFS_Versione_2/FFS_logo_V2_039.png",
"img/FFS_Versione_2/FFS_logo_V2_040.png",
"img/FFS_Versione_2/FFS_logo_V2_041.png",
"img/FFS_Versione_2/FFS_logo_V2_042.png",
"img/FFS_Versione_2/FFS_logo_V2_043.png",
"img/FFS_Versione_2/FFS_logo_V2_044.png",
"img/FFS_Versione_2/FFS_logo_V2_045.png",
"img/FFS_Versione_2/FFS_logo_V2_046.png",
"img/FFS_Versione_2/FFS_logo_V2_047.png",
"img/FFS_Versione_2/FFS_logo_V2_048.png",
"img/FFS_Versione_2/FFS_logo_V2_049.png",
"img/FFS_Versione_2/FFS_logo_V2_050.png",
"img/FFS_Versione_2/FFS_logo_V2_051.png",
"img/FFS_Versione_2/FFS_logo_V2_052.png",
"img/FFS_Versione_2/FFS_logo_V2_053.png",
"img/FFS_Versione_2/FFS_logo_V2_054.png",
"img/FFS_Versione_2/FFS_logo_V2_055.png",
"img/FFS_Versione_2/FFS_logo_V2_056.png",
"img/FFS_Versione_2/FFS_logo_V2_057.png",
"img/FFS_Versione_2/FFS_logo_V2_058.png",
"img/FFS_Versione_2/FFS_logo_V2_059.png",
"img/FFS_Versione_2/FFS_logo_V2_060.png",
"img/FFS_Versione_2/FFS_logo_V2_061.png",
"img/FFS_Versione_2/FFS_logo_V2_062.png",
"img/FFS_Versione_2/FFS_logo_V2_063.png",
"img/FFS_Versione_2/FFS_logo_V2_064.png",
"img/FFS_Versione_2/FFS_logo_V2_065.png",
"img/FFS_Versione_2/FFS_logo_V2_066.png",
"img/FFS_Versione_2/FFS_logo_V2_067.png",
"img/FFS_Versione_2/FFS_logo_V2_068.png",
"img/FFS_Versione_2/FFS_logo_V2_069.png",
"img/FFS_Versione_2/FFS_logo_V2_070.png",
"img/FFS_Versione_2/FFS_logo_V2_071.png",
"img/FFS_Versione_2/FFS_logo_V2_072.png",
"img/FFS_Versione_2/FFS_logo_V2_073.png",
"img/FFS_Versione_2/FFS_logo_V2_074.png",
"img/FFS_Versione_2/FFS_logo_V2_075.png",
"img/FFS_Versione_2/FFS_logo_V2_076.png",
"img/FFS_Versione_2/FFS_logo_V2_077.png",
"img/FFS_Versione_2/FFS_logo_V2_078.png",
"img/FFS_Versione_2/FFS_logo_V2_079.png",
"img/FFS_Versione_2/FFS_logo_V2_080.png",
"img/FFS_Versione_2/FFS_logo_V2_081.png",
"img/FFS_Versione_2/FFS_logo_V2_082.png",
"img/FFS_Versione_2/FFS_logo_V2_083.png",
"img/FFS_Versione_2/FFS_logo_V2_084.png",
"img/FFS_Versione_2/FFS_logo_V2_085.png",
"img/FFS_Versione_2/FFS_logo_V2_086.png",
"img/FFS_Versione_2/FFS_logo_V2_087.png",
"img/FFS_Versione_2/FFS_logo_V2_088.png",
"img/FFS_Versione_2/FFS_logo_V2_089.png",
"img/FFS_Versione_2/FFS_logo_V2_090.png",
"img/FFS_Versione_2/FFS_logo_V2_091.png",
"img/FFS_Versione_2/FFS_logo_V2_092.png",
"img/FFS_Versione_2/FFS_logo_V2_093.png",
"img/FFS_Versione_2/FFS_logo_V2_094.png",
"img/FFS_Versione_2/FFS_logo_V2_095.png",
			
		]

		let frame = 0

		setInterval(() => {
			const img = document.querySelector("img")
			img.src = sequenza[frame]
			frame = (frame + 1) % sequenza.length
		}, 30)

	</script>
</body>

</html>